# POSTTEST 4
Dimas sasongko_2009106093

## Visualiasi data Yu-Gi-Oh! Trading Cards Dataset!

## Import Package -------------------------------------------------------------------------

In [154]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#Data Split#
from sklearn.model_selection import train_test_split

#Data Transforming#
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import MinMaxScaler

#Data Cleaning#
from sklearn.impute import SimpleImputer

#Data Encoding#
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [155]:
df = pd.read_csv("card_data.csv")
df

,Name,Type,Level,Race,Attribute,ATK,DEF
0,Limit Reverse,Trap Card,NaN,Continuous,NaN,NaN,NaN
1,The 13th Grave,Normal Monster,3.0,Zombie,DARK,1200.0,900.0
2,Gem-Enhancement,Trap Card,NaN,Normal,NaN,NaN,NaN
3,Magician's Circle,Trap Card,NaN,Normal,NaN,NaN,NaN
4,Castle of Dark Illusions,Flip Effect Monster,4.0,Fiend,DARK,920.0,1930.0
...,...,...,...,...,...,...,...
6529,Wattcancel,Trap Card,NaN,Counter,NaN,NaN,NaN
6530,Paleozoic Anomalocaris,XYZ Monster,2.0,Aqua,WATER,2400.0,0.0
6531,Dark Magician,Normal Monster,7.0,Spellcaster,DARK,2500.0,2100.0
6532,Odd-Eyes Pendulum Dragon,Pendulum Effect Monster,7.0,Dragon,DARK,2500.0,2000.0
6533,Stardust Dragon,Synchro Monster,8.0,Dragon,WIND,2500.0,2000.0

In [156]:
#Info
#df = df.fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6534 entries, 0 to 6533
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       6534 non-null   object
 1   Type       6534 non-null   object
 2   Level      4275 non-null   float64
 3   Race       6534 non-null   object
 4   Attribute  4275 non-null   object
 5   ATK        4275 non-null   float64
 6   DEF        4275 non-null   float64
dtypes: float64(3), object(4)
memory usage: 357.5+ KB

In [157]:
df.describe()

             Level          ATK          DEF
count  4275.000000  4275.000000  4275.000000
mean      4.449591  1455.553216  1212.318129
std       2.185045   899.165365   802.966529
min       1.000000     0.000000     0.000000
25%       3.000000   800.000000   600.000000
50%       4.000000  1500.000000  1200.000000
75%       6.000000  2100.000000  1800.000000
max      12.000000  5000.000000  5000.000000

In [158]:
df.isna().sum()

Name            0
Type            0
Level        2259
Race            0
Attribute    2259
ATK          2259
DEF          2259
dtype: int64

In [159]:
print(f'panjang dataset {len(df)} Row')

panjang dataset 6534 Row

## Data split -------------------------------------------------------------------------
Train/test split adalah salah satu metode yang dapat digunakan untuk
mengevaluasi performa model machine learning. Metode evaluasi model ini
membagi dataset menjadi dua bagian yakni bagian yang digunakan untuk training
data dan untuk testing data dengan proporsi tertentu.

In [160]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [161]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3)

In [162]:
print(f"Panjang X_train : {len(x_train)}",
      f"Panjang X_test : {len(x_test)}",
      f"Panjang y_train : {len(y_train)}",
      f"Panjang y_test : {len(y_test)}",
      sep='\n')

Panjang X_train : 4573
Panjang X_test : 1961
Panjang y_train : 4573
Panjang y_test : 1961

## Data Transformasi -------------------------------------------------------------------------
Transformasi data adalah merubah skala data kedalam bentuk lain sehingga
data memiliki distribusi yang diharapkan.Scaling adalah suatu cara untuk membuat
numerical data pada dataset memiliki rentang nilai (scale) yang sama. Tidak ada lagi
satu variabel data yang mendominasi variabel data lainnya.Teknik penskalaan yang
biasa dipakai yaitu normalisasi dan standardisasi

### Normalisasi 
Normalisasi adalah proses penskalaan data menjadi rentang [0, 1].

In [163]:
normalize_dataset = df.copy()

In [164]:
scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(normalize_dataset[['Level', 'ATK', 'DEF']])

normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={0 :'Level', 1 :'ATK', 2 : 'DEF'}, inplace=True)
normalize_dataset.head(7)

      Level    ATK    DEF
0       NaN    NaN    NaN
1  0.181818  0.240  0.180
2       NaN    NaN    NaN
3       NaN    NaN    NaN
4  0.272727  0.184  0.386
5       NaN    NaN    NaN
6  0.636364  0.600  0.500

## Standarisasi -------------------------------------------------------------------------
adalah proses penskalaan data sehingga memiliki nilai
rata-rata 0 dan standar deviasi 1.

In [165]:
dataset = df.copy()
standarisasi_dataset = dataset

In [166]:
st = StandardScaler()
Scaled_data = st.fit_transform(standarisasi_dataset[['Level', 'ATK', 'DEF']])

In [167]:
print("(Nilai sebelum standarisasi)")
print("Standar Deviasi : ", np.std(standarisasi_dataset))

(Nilai sebelum standarisasi)
Standar Deviasi :  Level      2.184790
ATK      899.060194
DEF      802.872610
dtype: float64

C:\Users\TUF\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [168]:
print("(Nilai setelah standarisasi)")
print("Standar Deviasi : ", np.std(Scaled_data))

(Nilai setelah standarisasi)
Standar Deviasi :  nan

## Data Cleaning -------------------------------------------------------------------------
Data yang kita gunakan bisa jadi sangat berantakan. Ada informasi yang tak
lengkap, ada pula format yang berbeda-beda.Semua ini tentu membuat data itu sulit
diolah.

In [169]:
dataset_mn = df.copy()
dataset_md = df.copy()
dataset_ms = df.copy()

In [170]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

### Mean

In [171]:
dataset_mn['ATK'] = imputer_mean.fit_transform(dataset_mn[['ATK']])
dataset_mn.isna().sum()

Name            0
Type            0
Level        2259
Race            0
Attribute    2259
ATK             0
DEF          2259
dtype: int64

In [172]:
dataset_mn.dropna(inplace=True)
dataset_mn.isna().sum()

Name         0
Type         0
Level        0
Race         0
Attribute    0
ATK          0
DEF          0
dtype: int64

### Median

In [173]:
dataset_md['DEF'] = imputer_median.fit_transform(dataset_md[['DEF']])
dataset_md.isna().sum()

Name            0
Type            0
Level        2259
Race            0
Attribute    2259
ATK          2259
DEF             0
dtype: int64

In [174]:
dataset_md.dropna(inplace=True)
dataset_md.isna().sum()

Name         0
Type         0
Level        0
Race         0
Attribute    0
ATK          0
DEF          0
dtype: int64

### Modus

In [175]:
dataset_md['Level'] = imputer_median.fit_transform(dataset_md[['Level']])
dataset_md.isna().sum()

Name         0
Type         0
Level        0
Race         0
Attribute    0
ATK          0
DEF          0
dtype: int64

In [176]:
dataset_md.dropna(inplace=True)
dataset_md.isna().sum()

Name         0
Type         0
Level        0
Race         0
Attribute    0
ATK          0
DEF          0
dtype: int64

In [177]:
len(dataset_mn)

4275

### Data Duplikat

In [178]:
dataset_duplicate = df.copy()
dataset_duplicate.duplicated().sum()

85

In [179]:
dataset_duplicate.drop_duplicates(inplace=True)
dataset_duplicate.duplicated().sum()

0

## Data Encoding -------------------------------------------------------------------------
Encoding adalah salah tahap pre-processing ketika kita menghadapi data
yang bersifat kategorikal. Encoding adalah teknik yang mengubah variabel
kategorikal menjadi variabel numerik, model dalam machine learning membutuhkan
input yang bertipe numerik sehingga sangat penting bagi kita untuk melakukan
encoding jika terdapat variabel yang bertipe kategorikal didalam data kita.

In [180]:
dataset_ordinal = df.copy()
dataset_one_hot = df.copy()

In [181]:
df['Race'].unique()

array(['Continuous', 'Zombie', 'Normal', 'Fiend', 'Quick-Play', 'Rock',
       'Warrior', 'Winged Beast', 'Spellcaster', 'Beast', 'Fairy',
       'Equip', 'Field', 'Fish', 'Beast-Warrior', 'Thunder', 'Machine',
       'Sea Serpent', 'Aqua', 'Plant', 'Dragon', 'Reptile', 'Counter',
       'Psychic', 'Insect', 'Pyro', 'Dinosaur', 'Wyrm', 'Ritual',
       'Divine-Beast', 'Cyberse'], dtype=object)

### Ordinal Encoding
Dalam ordinal encoding, setiap nilai kategori yang unik akan diubah menjadi
nilai integer. Tipe encoding ini biasa digunakan jika terdapat unsur hirarki di
dalam variabel yang ingin diubah.

In [185]:
df['ATK'].dtype

dtype('float64')

In [187]:
encoder_ordinal =OrdinalEncoder()

#encoding
dataset_ordinal['ATK'] = encoder_ordinal.fit_transform(dataset_ordinal[['ATK']]).astype('int64')

#Hasil
dataset_ordinal.head()

,Name,Type,Level,Race,Attribute,ATK,DEF
0,Limit Reverse,Trap Card,NaN,Continuous,NaN,-9223372036854775808,NaN
1,The 13th Grave,Normal Monster,3.0,Zombie,DARK,24,900.0
2,Gem-Enhancement,Trap Card,NaN,Normal,NaN,-9223372036854775808,NaN
3,Magician's Circle,Trap Card,NaN,Normal,NaN,-9223372036854775808,NaN
4,Castle of Dark Illusions,Flip Effect Monster,4.0,Fiend,DARK,18,1930.0

In [188]:
dataset_ordinal['ATK'].unique()

array([-9223372036854775808,                   24,                   18,
                         62,                   29,                   44,
                         22,                    5,                    1,
                         38,                   31,                    0,
                         54,                   19,                   42,
                          3,                   15,                   20,
                         40,                    7,                   50,
                         13,                    9,                   71,
                         52,                   26,                   17,
                         11,                   46,                   33,
                         36,                   58,                   48,
                         55,                   64,                   27,
                         30,                   39,                   43,
                         66,                   68,                   41,
                          8,                   51,                    6,
                         70,                   37,                   16,
                         14,                   28,                   56,
                         10,                   63,                   60,
                         32,                   61,                   65,
                         25,                   21,                   74,
                         73,                    4,                   67,
                         12,                   59,                   23,
                         69,                   47,                   72,
                         45,                   57,                   34,
                         49,                   76,                   35,
                         75,                    2,                   53],
      dtype=int64)

### One-Hot Encoding
adalah salah satu metode encoding. Metode ini
merepresentasikan data bertipe kategori sebagai vektor biner yang bernilai
integer, 0 dan 1, dimana semua elemen akan bernilai 0 kecuali satu elemen
yang bernilai 1, yaitu elemen yang memiliki nilai kategori tersebut.

In [152]:
temp_dataset = pd.get_dummies(dataset_one_hot[['Attribute']])
temp_dataset = pd.DataFrame(temp_dataset)
dataset_one_hot.drop('Attribute', axis=1, inplace=True)
dataset_one_hot = dataset_one_hot.join(temp_dataset)
dataset_one_hot.head(7)

,Name,Type,Level,Race,ATK,DEF,Attribute_DARK,Attribute_DIVINE,Attribute_EARTH,Attribute_FIRE,Attribute_LIGHT,Attribute_WATER,Attribute_WIND
0,Limit Reverse,Trap Card,NaN,Continuous,NaN,NaN,0,0,0,0,0,0,0
1,The 13th Grave,Normal Monster,3.0,Zombie,1200.0,900.0,1,0,0,0,0,0,0
2,Gem-Enhancement,Trap Card,NaN,Normal,NaN,NaN,0,0,0,0,0,0,0
3,Magician's Circle,Trap Card,NaN,Normal,NaN,NaN,0,0,0,0,0,0,0
4,Castle of Dark Illusions,Flip Effect Monster,4.0,Fiend,920.0,1930.0,1,0,0,0,0,0,0
5,Cipher Spectrum,Trap Card,NaN,Normal,NaN,NaN,0,0,0,0,0,0,0
6,Lava Golem,Effect Monster,8.0,Fiend,3000.0,2500.0,0,0,0,1,0,0,0

# ----------------------------------------------END--------------------------------------------------------