## Import Pandas 
Import pandas sebagai pd
dan df membaca dataset

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("card_data.csv")

## Membaca Dataset

In [5]:
df

,Name,Type,Level,Race,Attribute,ATK,DEF
0,Limit Reverse,Trap Card,NaN,Continuous,NaN,NaN,NaN
1,The 13th Grave,Normal Monster,3.0,Zombie,DARK,1200.0,900.0
2,Gem-Enhancement,Trap Card,NaN,Normal,NaN,NaN,NaN
3,Magician's Circle,Trap Card,NaN,Normal,NaN,NaN,NaN
4,Castle of Dark Illusions,Flip Effect Monster,4.0,Fiend,DARK,920.0,1930.0
...,...,...,...,...,...,...,...
6529,Wattcancel,Trap Card,NaN,Counter,NaN,NaN,NaN
6530,Paleozoic Anomalocaris,XYZ Monster,2.0,Aqua,WATER,2400.0,0.0
6531,Dark Magician,Normal Monster,7.0,Spellcaster,DARK,2500.0,2100.0
6532,Odd-Eyes Pendulum Dragon,Pendulum Effect Monster,7.0,Dragon,DARK,2500.0,2000.0
6533,Stardust Dragon,Synchro Monster,8.0,Dragon,WIND,2500.0,2000.0

In [6]:
totalRecord = len(df)
namaAttribute = df.columns
jumlahObjek = len(df.select_dtypes(include=['object']).columns)
jumlahAngka = len(df.select_dtypes(include=['int64', 'float64']).columns)
jumlahNULL = len(df.columns[df.isna().sum() > 0])

dictionary_no1 = {
    "total record": totalRecord,
    "Nama Attribute yang ada": namaAttribute,
    "Jumlah Objek": jumlahObjek,
    "Jumlah Angka": jumlahAngka,
    "Jumlah NULL": jumlahNULL,
}

pd.Series(dictionary_no1)

total record                                                            6534
Nama Attribute yang ada    Index(['Name', 'Type', 'Level', 'Race', 'Attri...
Jumlah Objek                                                               4
Jumlah Angka                                                               3
Jumlah NULL                                                                4
dtype: object

Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [7]:
df.select_dtypes(include=['int64', 'float64']).mean()

          Level       ATK       DEF
Level  1.000000  0.725354  0.592225
ATK    0.725354  1.000000  0.508246
DEF    0.592225  0.508246  1.000000

In [8]:
df.select_dtypes(include=['int64', 'float64']).std()

Level    1.0
ATK      0.0
DEF      0.0
dtype: float64

In [9]:
df.select_dtypes(include=['int64', 'float64']).min()

Level    1.0
ATK      0.0
DEF      0.0
dtype: float64

In [10]:
df.select_dtypes(include=['int64', 'float64']).max()

Level      12.0
ATK      5000.0
DEF      5000.0
dtype: float64

Tampilkan nilai korelasi attribute bertipe angka.

In [11]:
df.select_dtypes(include=['int64', 'float64']).corr()

          Level       ATK       DEF
Level  1.000000  0.725354  0.592225
ATK    0.725354  1.000000  0.508246
DEF    0.592225  0.508246  1.000000

Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

Tampilkan 10 record pertama dari attribute bertipe angka.

In [12]:
df.select_dtypes(include=['int64', 'float64']).head(10)

   Level     ATK     DEF
0    NaN     NaN     NaN
1    3.0  1200.0   900.0
2    NaN     NaN     NaN
3    NaN     NaN     NaN
4    4.0   920.0  1930.0
5    NaN     NaN     NaN
6    8.0  3000.0  2500.0
7    NaN     NaN     NaN
8    3.0  1400.0   300.0
9    6.0  2100.0   200.0

Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [14]:
df.select_dtypes(include=['int64', 'float64']).to_csv("Atribut_Bertipe_Angka.csv", index=False)