# POSTTEST 5
Dimas sasongko_2009106093

## Visualiasi data Yu-Gi-Oh! Trading Cards Dataset!

## Import Package -------------------------------------------------------------------------

In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#Data Cleaning#
from sklearn.impute import SimpleImputer

#Classifikasi KNN#
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

#Classifikasi NAIVE BAYES#
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [58]:
df = pd.read_csv("card_data.csv")
df

,Name,Type,Level,Race,Attribute,ATK,DEF
0,Limit Reverse,Trap Card,NaN,Continuous,NaN,NaN,NaN
1,The 13th Grave,Normal Monster,3.0,Zombie,DARK,1200.0,900.0
2,Gem-Enhancement,Trap Card,NaN,Normal,NaN,NaN,NaN
3,Magician's Circle,Trap Card,NaN,Normal,NaN,NaN,NaN
4,Castle of Dark Illusions,Flip Effect Monster,4.0,Fiend,DARK,920.0,1930.0
...,...,...,...,...,...,...,...
6529,Wattcancel,Trap Card,NaN,Counter,NaN,NaN,NaN
6530,Paleozoic Anomalocaris,XYZ Monster,2.0,Aqua,WATER,2400.0,0.0
6531,Dark Magician,Normal Monster,7.0,Spellcaster,DARK,2500.0,2100.0
6532,Odd-Eyes Pendulum Dragon,Pendulum Effect Monster,7.0,Dragon,DARK,2500.0,2000.0
6533,Stardust Dragon,Synchro Monster,8.0,Dragon,WIND,2500.0,2000.0

In [59]:
#Info
#df = df.fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6534 entries, 0 to 6533
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       6534 non-null   object
 1   Type       6534 non-null   object
 2   Level      4275 non-null   float64
 3   Race       6534 non-null   object
 4   Attribute  4275 non-null   object
 5   ATK        4275 non-null   float64
 6   DEF        4275 non-null   float64
dtypes: float64(3), object(4)
memory usage: 357.5+ KB

In [60]:
df.describe()

             Level          ATK          DEF
count  4275.000000  4275.000000  4275.000000
mean      4.449591  1455.553216  1212.318129
std       2.185045   899.165365   802.966529
min       1.000000     0.000000     0.000000
25%       3.000000   800.000000   600.000000
50%       4.000000  1500.000000  1200.000000
75%       6.000000  2100.000000  1800.000000
max      12.000000  5000.000000  5000.000000

In [61]:
df.isna().sum()

Name            0
Type            0
Level        2259
Race            0
Attribute    2259
ATK          2259
DEF          2259
dtype: int64

In [62]:
print(f'panjang dataset {len(df)} Row')

panjang dataset 6534 Row

## Data Cleaning -------------------------------------------------------------------------
Data yang kita gunakan bisa jadi sangat berantakan. Ada informasi yang tak
lengkap, ada pula format yang berbeda-beda.Semua ini tentu membuat data itu sulit
diolah.

In [63]:
dataset_mn = df.copy()
dataset_md = df.copy()
dataset_ms = df.copy()

In [64]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

### Mean

In [65]:
dataset_mn['ATK'] = imputer_mean.fit_transform(dataset_mn[['ATK']])
dataset_mn.isna().sum()

Name            0
Type            0
Level        2259
Race            0
Attribute    2259
ATK             0
DEF          2259
dtype: int64

In [66]:
dataset_mn.dropna(inplace=True)
dataset_mn.isna().sum()

Name         0
Type         0
Level        0
Race         0
Attribute    0
ATK          0
DEF          0
dtype: int64

In [67]:
dataset_mn['ATK'] = imputer_mean.fit_transform(dataset_mn[['ATK']])
dataset_mn.isna().sum()

Name         0
Type         0
Level        0
Race         0
Attribute    0
ATK          0
DEF          0
dtype: int64

### Median

In [68]:
dataset_md['DEF'] = imputer_median.fit_transform(dataset_md[['DEF']])
dataset_md.isna().sum()

Name            0
Type            0
Level        2259
Race            0
Attribute    2259
ATK          2259
DEF             0
dtype: int64

In [69]:
dataset_md.dropna(inplace=True)
dataset_md.isna().sum()

Name         0
Type         0
Level        0
Race         0
Attribute    0
ATK          0
DEF          0
dtype: int64

### Modus

In [70]:
dataset_md['Level'] = imputer_median.fit_transform(dataset_md[['Level']])
dataset_md.isna().sum()

Name         0
Type         0
Level        0
Race         0
Attribute    0
ATK          0
DEF          0
dtype: int64

In [71]:
dataset_md.dropna(inplace=True)
dataset_md.isna().sum()

Name         0
Type         0
Level        0
Race         0
Attribute    0
ATK          0
DEF          0
dtype: int64

In [72]:
len(dataset_mn)

4275

### Data Duplikat

In [73]:
dataset_duplicate = df.copy()
dataset_duplicate.duplicated().sum()

85

In [74]:
dataset_duplicate.drop_duplicates(inplace=True)
dataset_duplicate.duplicated().sum()

0

## Classification, KNN (K-NEAREST NEIGHBOUR)
K-Nearest Neighbour atau algoritma KNN menggunakan algoritma non-parametrik yang mengelompokkan poin data berdasarkan kedekatan dan juga asosiasi mereka dengan data lain. Algoritma KNN mengasumsikan bahwa titik data yang serupa akan selalu bisa
ditemukan di sekitarnya.

In [75]:
dataset_mn.head()

,Name,Type,Level,Race,Attribute,ATK,DEF
1,The 13th Grave,Normal Monster,3.0,Zombie,DARK,1200.0,900.0
4,Castle of Dark Illusions,Flip Effect Monster,4.0,Fiend,DARK,920.0,1930.0
6,Lava Golem,Effect Monster,8.0,Fiend,FIRE,3000.0,2500.0
8,Seismic Crasher,Effect Monster,3.0,Rock,EARTH,1400.0,300.0
9,Laval Lancelord,Effect Monster,6.0,Warrior,FIRE,2100.0,200.0

In [76]:
dataset_mn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4275 entries, 1 to 6533
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       4275 non-null   object
 1   Type       4275 non-null   object
 2   Level      4275 non-null   float64
 3   Race       4275 non-null   object
 4   Attribute  4275 non-null   object
 5   ATK        4275 non-null   float64
 6   DEF        4275 non-null   float64
dtypes: float64(3), object(4)
memory usage: 267.2+ KB

In [119]:
x = dataset_mn[['Level','DEF','ATK']]
y = dataset_mn['Attribute']
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=.2)

In [120]:
classifier = KNeighborsClassifier(n_neighbors = 5)

In [121]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [122]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [123]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['EARTH' 'LIGHT' 'DARK' 'EARTH' 'DARK' 'EARTH' 'DARK' 'EARTH' 'EARTH'
 'EARTH' 'DARK' 'LIGHT' 'EARTH' 'EARTH' 'WATER' 'WIND' 'DARK' 'WATER'
 'LIGHT' 'DARK' 'EARTH' 'DARK' 'DARK' 'EARTH' 'LIGHT' 'LIGHT' 'EARTH'
 'DARK' 'LIGHT' 'DARK' 'EARTH' 'EARTH' 'EARTH' 'DARK' 'EARTH' 'EARTH'
 'FIRE' 'EARTH' 'DARK' 'EARTH' 'DARK' 'DARK' 'EARTH' 'WATER' 'DARK'
 'LIGHT' 'DARK' 'DARK' 'EARTH' 'DARK' 'EARTH' 'DARK' 'LIGHT' 'LIGHT'
 'WATER' 'EARTH' 'EARTH' 'DARK' 'DARK' 'LIGHT' 'WATER' 'EARTH' 'EARTH'
 'EARTH' 'EARTH' 'DARK' 'LIGHT' 'WIND' 'EARTH' 'LIGHT' 'EARTH' 'DARK'
 'LIGHT' 'EARTH' 'DARK' 'DARK' 'WATER' 'DARK' 'LIGHT' 'EARTH' 'EARTH'
 'EARTH' 'LIGHT' 'DARK' 'LIGHT' 'LIGHT' 'DARK' 'DARK' 'EARTH' 'WATER'
 'WATER' 'EARTH' 'EARTH' 'WIND' 'DARK' 'EARTH' 'FIRE' 'WATER' 'DARK'
 'DARK' 'WATER' 'LIGHT' 'LIGHT' 'DARK' 'EARTH' 'DARK' 'WATER' 'WATER'
 'FIRE' 'DARK' 'DARK' 'DARK' 'DARK' 'EARTH' 'DARK' 'EARTH' 'EARTH' 'DARK'
 'DARK' 'WIND' 'DARK' 'DARK' 'LIGHT' 'EARTH' 'DARK' 'EARTH' 'DARK' 'DARK'
 'LIGHT' 'EARTH' 'EARTH' 'LIGHT' 'EARTH' 'LIGHT' 'DARK' 'DARK' 'DARK'
 'DARK' 'DARK' 'EARTH' 'DARK' 'DARK' 'EARTH' 'DARK' 'DARK' 'FIRE' 'FIRE'
 'DARK' 'DARK' 'EARTH' 'LIGHT' 'EARTH' 'WIND' 'EARTH' 'EARTH' 'EARTH'
 'EARTH' 'DARK' 'WIND' 'LIGHT' 'DARK' 'DARK' 'FIRE' 'EARTH' 'EARTH' 'DARK'
 'EARTH' 'DARK' 'DARK' 'DARK' 'DARK' 'FIRE' 'DARK' 'LIGHT' 'EARTH' 'DARK'
 'LIGHT' 'LIGHT' 'EARTH' 'EARTH' 'DARK' 'LIGHT' 'DARK' 'EARTH' 'DARK'
 'WATER' 'DARK' 'EARTH' 'EARTH' 'EARTH' 'DARK' 'WATER' 'WIND' 'DARK'
 'DARK' 'EARTH' 'DARK' 'DARK' 'EARTH' 'DARK' 'LIGHT' 'FIRE' 'DARK' 'EARTH'
 'LIGHT' 'DARK' 'LIGHT' 'LIGHT' 'EARTH' 'LIGHT' 'WATER' 'DARK' 'WATER'
 'LIGHT' 'WATER' 'DARK' 'DARK' 'EARTH' 'DARK' 'EARTH' 'DARK' 'EARTH'
 'DARK' 'EARTH' 'DARK' 'LIGHT' 'WIND' 'DARK' 'EARTH' 'EARTH' 'DARK' 'DARK'
 'DARK' 'WIND' 'EARTH' 'EARTH' 'LIGHT' 'DARK' 'DARK' 'DARK' 'DARK' 'EARTH'
 'EARTH' 'DARK' 'EARTH' 'EARTH' 'DARK' 'LIGHT' 'LIGHT' 'LIGHT' 'WIND'
 'DARK' 'DARK' 'LIGHT' 'EARTH' 'DARK' 'LIGHT' 'LIGHT' 'EARTH' 'DARK'
 'DARK' 'DARK' 'DARK' 'LIGHT' 'EARTH' 'EARTH' 'EARTH' 'EARTH' 'FIRE'
 'DARK' 'LIGHT' 'DARK' 'DARK' 'EARTH' 'LIGHT' 'LIGHT' 'DARK' 'EARTH'
 'EARTH' 'FIRE' 'EARTH' 'WATER' 'DARK' 'EARTH' 'LIGHT' 'DARK' 'DARK'
 'WATER' 'EARTH' 'DARK' 'EARTH' 'EARTH' 'EARTH' 'DARK' 'DARK' 'WATER'
 'EARTH' 'EARTH' 'DARK' 'EARTH' 'DARK' 'EARTH' 'LIGHT' 'DARK' 'LIGHT'
 'EARTH' 'LIGHT' 'WATER' 'DARK' 'DARK' 'LIGHT' 'LIGHT' 'DARK' 'DARK'
 'DARK' 'EARTH' 'LIGHT' 'EARTH' 'WIND' 'LIGHT' 'WIND' 'LIGHT' 'DARK'
 'DARK' 'DARK' 'DARK' 'LIGHT' 'EARTH' 'EARTH' 'DARK' 'EARTH' 'LIGHT'
 'DARK' 'DARK' 'DARK' 'FIRE' 'LIGHT' 'WIND' 'WATER' 'DARK' 'EARTH' 'EARTH'
 'EARTH' 'FIRE' 'DARK' 'EARTH' 'LIGHT' 'FIRE' 'LIGHT' 'DARK' 'EARTH'
 'WIND' 'WIND' 'DARK' 'EARTH' 'LIGHT' 'DARK' 'DARK' 'DARK' 'EARTH' 'LIGHT'
 'DARK' 'DARK' 'DARK' 'WATER' 'DARK' 'EARTH' 'EARTH' 'EARTH' 'DARK'
 'LIGHT' 'DARK' 'EARTH' 'WATER' 'DARK' 'EARTH' 'FIRE' 'EARTH' 'EARTH'
 'DARK' 'EARTH' 'DARK' 'LIGHT' 'DARK' 'FIRE' 'EARTH' 'LIGHT' 'WATER'
 'DARK' 'EARTH' 'EARTH' 'EARTH' 'LIGHT' 'EARTH' 'EARTH' 'LIGHT' 'WIND'
 'DARK' 'EARTH' 'DARK' 'DARK' 'DARK' 'DARK' 'EARTH' 'DARK' 'LIGHT' 'DARK'
 'DARK' 'WATER' 'WIND' 'DARK' 'DARK' 'DARK' 'EARTH' 'LIGHT' 'DARK' 'DARK'
 'DARK' 'DARK' 'EARTH' 'EARTH' 'DARK' 'EARTH' 'WIND' 'LIGHT' 'LIGHT'
 'DARK' 'DARK' 'EARTH' 'EARTH' 'DARK' 'DARK' 'DARK' 'DARK' 'EARTH' 'DARK'
 'DARK' 'EARTH' 'LIGHT' 'EARTH' 'EARTH' 'LIGHT' 'DARK' 'DARK' 'EARTH'
 'EARTH' 'DARK' 'DARK' 'EARTH' 'DARK' 'DARK' 'FIRE' 'DARK' 'DARK' 'DARK'
 'LIGHT' 'DARK' 'EARTH' 'LIGHT' 'EARTH' 'DARK' 'LIGHT' 'LIGHT' 'DARK'
 'WIND' 'EARTH' 'DARK' 'EARTH' 'EARTH' 'EARTH' 'LIGHT' 'DARK' 'EARTH'
 'DARK' 'EARTH' 'EARTH' 'DARK' 'LIGHT' 'EARTH' 'EARTH' 'DARK' 'DARK'
 'DARK' 'DARK' 'DARK' 'DARK' 'EARTH' 'DARK' 'LIGHT' 'LIGHT' 'WIND' 'EARTH'
 'EARTH' 'DARK' 'EARTH' 'EARTH' 'WIND' 'LIGHT' 'EARTH' 'EARTH' 'DARK'
 'LIGHT' 'WATER' 'LIGHT' 'LIGHT' 'DARK' 'LIGHT' 'EARTH' 'EARTH' 'WATER'
 'FIRE' 'DARK' 'DARK' 'FIRE' 'WIND' 'DARK' 'EARTH' 'EARTH' 'EARTH' 'EARTH'
 'EARTH' 'EARTH' 'EARTH' 'EARTH' 'DARK' 'DARK' 'DARK' 'DARK' 'LIGHT'
 'DARK' 'DARK' 'LIGHT' 'DARK' 'EARTH' 'DARK' 'EARTH' 'DARK' 'EARTH'
 'WATER' 'LIGHT' 'DARK' 'DARK' 'LIGHT' 'DARK' 'EARTH' 'DARK' 'EARTH'
 'DARK' 'DARK' 'DARK' 'DARK' 'DARK' 'LIGHT' 'EARTH' 'DARK' 'FIRE' 'DARK'
 'EARTH' 'LIGHT' 'DARK' 'FIRE' 'DARK' 'DARK' 'FIRE' 'DARK' 'DARK' 'DARK'
 'EARTH' 'LIGHT' 'WATER' 'DARK' 'DARK' 'DARK' 'EARTH' 'FIRE' 'EARTH'
 'EARTH' 'DARK' 'DARK' 'DARK' 'EARTH' 'FIRE' 'DARK' 'DARK' 'DARK' 'WIND'
 'DARK' 'EARTH' 'DARK' 'EARTH' 'EARTH' 'EARTH' 'EARTH' 'FIRE' 'DARK'
 'DARK' 'DARK' 'LIGHT' 'DARK' 'DARK' 'EARTH' 'DARK' 'DARK' 'EARTH' 'LIGHT'
 'LIGHT' 'DARK' 'DARK' 'EARTH' 'LIGHT' 'DARK' 'LIGHT' 'DARK' 'LIGHT'
 'EARTH' 'LIGHT' 'DARK' 'WATER' 'DARK' 'LIGHT' 'LIGHT' 'DARK' 'WIND'
 'EARTH' 'WATER' 'LIGHT' 'DARK' 'EARTH' 'LIGHT' 'LIGHT' 'LIGHT' 'DARK'
 'LIGHT' 'LIGHT' 'EARTH' 'DARK' 'EARTH' 'FIRE' 'LIGHT' 'EARTH' 'EARTH'
 'EARTH' 'EARTH' 'LIGHT' 'DARK' 'EARTH' 'EARTH' 'WIND' 'DARK' 'DARK'
 'FIRE' 'WIND' 'DARK' 'DARK' 'FIRE' 'DARK' 'WATER' 'WATER' 'EARTH' 'EARTH'
 'LIGHT' 'LIGHT' 'EARTH' 'WIND' 'LIGHT' 'LIGHT' 'EARTH' 'DARK' 'EARTH'
 'WATER' 'LIGHT' 'DARK' 'DARK' 'EARTH' 'WATER' 'DARK' 'EARTH' 'LIGHT'
 'LIGHT' 'DARK' 'WATER' 'EARTH' 'DARK' 'LIGHT' 'DARK' 'DARK' 'DARK'
 'LIGHT' 'WIND' 'EARTH' 'DARK' 'DARK' 'EARTH' 'DARK' 'DARK' 'EARTH' 'DARK'
 'EARTH' 'LIGHT' 'LIGHT' 'WIND' 'DARK' 'DARK' 'WATER' 'EARTH' 'DARK'
 'LIGHT' 'DARK' 'FIRE' 'DARK' 'WATER' 'EARTH' 'EARTH' 'EARTH' 'LIGHT'
 'WATER' 'WIND' 'DARK' 'EARTH' 'EARTH' 'WATER' 'DARK' 'LIGHT' 'DARK'
 'EARTH' 'EARTH' 'DARK' 'LIGHT' 'DARK' 'DARK' 'DARK' 'DARK' 'LIGHT' 'DARK'
 'DARK' 'DARK' 'LIGHT' 'EARTH' 'DARK' 'DARK' 'EARTH' 'WATER' 'WIND' 'DARK'
 'EARTH' 'LIGHT' 'DARK' 'DARK' 'DARK' 'LIGHT' 'DARK' 'EARTH' 'DARK' 'FIRE'
 'DARK' 'EARTH' 'DARK' 'DARK' 'FIRE' 'DARK' 'FIRE' 'LIGHT' 'FIRE' 'LIGHT'
 'LIGHT' 'FIRE' 'EARTH' 'LIGHT' 'LIGHT' 'DARK' 'DARK' 'DARK' 'DARK'
 'EARTH' 'EARTH' 'LIGHT' 'LIGHT' 'EARTH' 'DARK' 'DARK' 'EARTH' 'EARTH'
 'LIGHT' 'DARK' 'DARK' 'DARK' 'DARK' 'EARTH' 'DARK' 'DARK' 'DARK' 'WATER'
 'EARTH' 'WATER' 'EARTH' 'LIGHT' 'LIGHT' 'WIND' 'EARTH' 'LIGHT' 'DARK'
 'EARTH' 'LIGHT' 'DARK' 'DARK' 'DARK' 'EARTH' 'DARK' 'EARTH' 'WATER'
 'LIGHT' 'EARTH' 'EARTH' 'WIND' 'WIND' 'EARTH' 'WATER' 'DARK' 'EARTH'
 'EARTH' 'WIND' 'WATER' 'DARK' 'EARTH' 'DARK' 'WATER' 'LIGHT' 'DARK'
 'EARTH' 'DARK' 'LIGHT' 'DARK' 'EARTH' 'DARK' 'DARK' 'DARK' 'DARK' 'EARTH'
 'LIGHT' 'EARTH' 'DARK' 'DARK' 'DARK' 'EARTH' 'DARK' 'DARK' 'EARTH'
 'WATER' 'DARK' 'DARK' 'DARK' 'LIGHT' 'DARK' 'EARTH' 'DARK']
Class: 4716    LIGHT
230      FIRE
5081    LIGHT
211      DARK
2516     DARK
        ...
1740    LIGHT
4952    LIGHT
3230     DARK
1266    EARTH
4426    WATER
Name: Attribute, Length: 855, dtype: object
akurasi: 0.27017543859649124

In [124]:
classifier.score(x_test,y_test)

0.27017543859649124

## NAIVE BAYES CLASSIFICATION
Berikutnya ada Naïve Bayes, yang mengadopsi prinsip kemandirian kelas bersyarat dari Teorema Bayes. Dalam prinsip tersebut, ada tidaknya satu elemen tidak akan memengaruhi komponen lain dalam probabilitas hasil yang akan diberikan, dengan predictor yang mendapatkan efek yang sama.

In [125]:
x = dataset_mn[['Level','DEF','ATK']]
y = dataset_mn['Attribute']

In [126]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1, shuffle=False, stratify=None)

In [127]:
classifier = GaussianNB()
classifier.fit(x_train,y_train)

predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [128]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['DARK']
Class: 6533    WIND
Name: Attribute, dtype: object
akurasi: 0.0

In [129]:
classifier.score(x_test,y_test)

0.0

# ----------------------------------------------END--------------------------------------------------------